@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .nav-menu {
    background-color: #d3d3d3;
    padding: 10px;
    background-image: url("./images/cafeblur.png");
    background-size: cover;
  }
  .nav-menu :hover {
    cursor: pointer;
  }
  .mobile-menu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    align-items: flex-start;
    background: #272A31;
    transition: top 1s ease 0s;
    display: none;
  }
  
  .mobile-menu li {
    list-style: none;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  
  .mobile-menu ul {
    margin-top: 4rem;
  }
  
  .mobile-menu li a {
    display: block;
    text-decoration: solid;
    color: #d3d3d3;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    font-family: "Lato", sans-serif;
  }
  
  
  .mobile-menu li a:hover {
    background: #ec5242;
  }
  
  .line-mobile-menu {
    width: 90vw;
    margin-left: 1rem;
  }
  
  .closeMenu {
    position: absolute;
    top: 3rem;
    right: 2rem;
  }
  
  .closeMenu:hover {
    cursor: pointer;
    background: #d3d3d3;
  }
  /* <...mainpage...> */

#header{
 background-color: #d3d3d3;
  padding-bottom: 50%;
  display: flex;
  flex-direction: column;
  background-image: url("./images/cafeblur.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}
.title {
    font-family:"cocogoose", sans-serif;
    font-weight: 700;
    color: #ec5242;
    margin: 5%;
    font-size: 30px;
    line-height: 40px;
  
}
.subheading {
    font-family: "Lato",sans-serif;
    color: #ec5242;
margin-left: 5%;
margin-top: 8%;
}
.details p {
    font-family: "Lato",serif;
    margin: 5%;
    font-size: 20px;
}
.details {
    border: 2px solid white;
    margin: 5%;
    background-image: url("./images/cafeblur.png");
    background-size: cover;
}
.address h4 {
    font-family: "Lato",serif;
    margin: 5%;
    font-size: 20px;
}
#dishes {
    background-image: url("./images/repeat-bg.png");
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.dishes-heading {
    font-family: "Lato",sans-serif;
    color: white;
    font-weight: 700;
    margin: 5%;
    align-self: center;
}
.orangeline {
    width: 10%;
    color: #ec5242;
    border:1px solid;
    align-self: center;
    margin-top: -7%;
    margin-bottom: 10%;
}
.dish {
    display: grid;
    grid-template-columns: 30% 20% 50%;
    margin: 1rem;
    background-color: #d3d3d38d;
    align-items: center;
}
.dish img {
    margin-left: 5%;
    width: 90%;
}
.dish h3 {
    font-family: "Lato",sans-serif;
    color: #ec5242;
}
.dish p {
    color: white;
    font-size: 15px;
    font-family: "Lato", sans-serif;
}
.contact-button {
    background-color: #ec5242;
    padding: 20px;
    size: 20px;
    color: #d3d3d3;
    font-size: 2rem;
    font-weight: 700;
    width: 50%;
    align-self: center;
    margin: 2rem;
}
.whole-dish {
    display: none;
}
/* <...reviwer section...> */
#reviews {
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.reviews-title {
    align-self: center;
    color: #272A31;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    margin-top: 10%;
}
.reviews-line {
    border: 1px solid #ec5242;
    width: 10%;
    align-self: center;
    margin-top: -5%;
}
.reviewer {
    display: flex;
    gap: 8px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;  
}

.reviewer-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.reviewer-name {
    font-family: "Lato",sans-serif;
    color: #272A31;
}
.reviewer-detail {
    font-family: "Lato",sans-serif;
    color: #ec5242;
    font-size: 15px;
}
.reviewer-line {
    border: 1px solid white;
    width: 5%;
    margin-top: 1%;
}
.reviwer-comment {
    font-family: "Lato",sans-serif;
    color: #272A31;
    font-size: small;
}
/* <...about...> */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/cafeblur.png");
    background-size: cover;
    height: 85vh;
}
.about-title {
    font-family:"cocogoose", sans-serif;
    font-weight: 700;
    color: #ec5242;
    font-size: 30px;
    line-height: 40px;
}
.about-line {
    display: none;
}
.about-subheading {
    font-family: "Lato",sans-serif;
    color: #ec5242;
    margin-top: 8%;
    margin-bottom: 3%;
}
.about-details p {
    font-family: "Lato",serif;
    margin: 5%;
    font-size: 20px;
}
.about-details {
    border: 2px solid rgba(255, 255, 255, 0.874);
    margin: 5%;
    background-color: #d3d3d3;
}
.email p {
    font-family: "Lato",sans-serif;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 3rem;
}
.email p b {
    align-self: center;
}
#logo {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 20px;
    background-color: #d3d3d3;
}
.logo-title {
    font-family: "Lato",sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 5%;
}
.logo-orangeline{
    border: 1px solid;
    color: #ec5242;
    width: 10%;
    margin-top: -1rem;
}
.logo-text {
    font-family: "Lato",sans-serif;
    width: 60%;
    align-self: center;
    text-align: center;
}
.logo-design {
    border: 1px solid rgba(255, 255, 255, 0.829);
    size: 100px;
    margin: 10%;
    width: 70%;
    height: 30%;    
}
.logo-design img {
   margin: 10%;
   width: 50%;
}
#partners {
  color: #d3d3d3;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 100%;
  background-color: #272A31;
}
.partner-title {
    margin-top: 10%;
align-self: center;
font-family: "Lato", sans-serif;
font-size: 25px;
}
.partner-orangeline {
    border: 1px solid #ec5242;
    width: 10%;
    align-self: center;

}
.partner {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    font-family: "cocogoose", sans-serif;
    font-weight: 600;
    font-size: 30px;
    flex-wrap: wrap;
}
footer {
   height: 15vh;
   background-color: #d3d3d3;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
   padding-top: 10%;
}
.nav-desktop {
    display: none;
}
#main-partners{
    display: none;
}
#main-footer {
    display: none;
}
@media (min-width: 768px) {
 .nav-menu {
    display: none;
 }
 .nav-desktop{
    display: flex;
    background-color: #d3d3d3;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    height: 80px;
 } 
 .nav-logo img {
    width: 150px;
    /* background-color:#272A31; */
    margin-left: 15rem;
 }
 
 .nav-items ul {
    display: flex;
    list-style: none;
    align-content: space-around;
    gap: 5rem;
    margin-right: 15rem;
 } 
 .nav-items ul li a {
    font-family: "Lato",sans-serif;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    color: #272A31;
 }
 .nav-items ul :hover {
    cursor: pointer;
    background-color: #ec5242;
 }
 #about {
    height: 100vh;
 }
 .about-subheading {
    display: none;
 }
 .about-title {
    font-size: 40px;
    margin: 5%;
 }
 .about-line {
    border: 1px solid #ec5242;
    width: 5%;
    align-self: center;
    margin-top: -3.5%;
    display: block;
 }
.about-details {
    width: 70%;
}
.about-details p {
    text-align: center;
}
.email {
    margin-top: -1rem;
}
#logo {
    background-color: aliceblue;
}
.logo-orangeline {
    width: 2%;
    margin-top: 1px;
}
.logo-design {
    display: flex;
    width: 30%;
    background-color: aliceblue;
    align-self: center;
    margin-top: -1px;
    border: 1.5px solid #d3d3d3;
    margin: 1rem;
}
.logo-design img {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 60%;
}
#partners{
    display: none;
}
footer {
    background-color: #272A31;
}
.footer-content {
    color: #d3d3d3;
    padding-top: 3%;
}
/* <...mainpage...> */
#header {
    height: 100vh;
}
.title {
   margin-left: 15%;
   margin-bottom: -2%;
   font-size: 35px; 
}
.subheading {
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: -3%;
}
.details {
    margin-left: 15%;
    width: 55%;
}
.address {
    margin-left: 11%;
    margin-top: -5%;
}
#dishes {
    background-image: url("./images/repeat-bg.png");
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.dishes-heading {
    font-family: "Lato",sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: 5%;
    align-self: center;
}
.orangeline {
    width: 5%;
    color: #ec5242;
    border:1px solid;
    align-self: center;
    margin-top: -6%;
}
.dish-details {
    display: flex;
    margin-top: -8%;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 2px;
}
.dish {
   display: flex;
   flex-direction: column;
    background-color: #d3d3d38d;
    align-items: center;
    margin: 0;
}
.dish img {
    width: 90%;
    height: 50%;
    margin-left: 0;
    align-self: center;
}
.dish p {
    color: white;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    text-align: center;
}
.contact-button {
    display: none;
}
.whole-dish {
    display: flex;
    font-size: 20px;
    align-self: center;
    color: #d3d3d3;
    margin-bottom: 5%;
}
.whole-dish :hover {
    cursor: pointer;
}
/* <...reviewers...> */
.reviews-title {
    margin-top: 5%;
    align-self: center;
    justify-content: center;
}
.reviews-line {
    margin-top: -1rem;
    width: 3%;
}
.reviewers {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
    row-gap: 20%;
    align-self: center;
    justify-content: center;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 15%;
}
.reviewer {
    margin-left: 0;
    margin-right: 0;
}
.reviwer-comment {
    width: 60%;
}
#main-partners {
    display: flex;
    flex-direction: column;
    background-color: #272A31;
}
.partner-title {
    align-self: center;
    color: #d3d3d3;
    margin-top: 2%;
}
.partner {
    color: #d3d3d3;
    margin-bottom: 3%;
}
.partner-orangeline {
    width: 3%;
    margin: 1%;
}
#main-footer {
    height: 15vh;
    background-color:#d3d3d3;
    display: contents;
 }
 .footer-content-main {
     display: flex;
     align-items: center;
     justify-content: space-around;
     align-content: center;
     padding: 2rem;
 }
 .footer-content-main h3,
 .footer-content-main p {
    color: #272A31;
 }
 .mobile-menu {
    display: none;
  }
}