@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .nav-menu {
    background-color: #d3d3d3;
    padding: 10px;
    background-image: url("./images/cafeblur.png");
    background-size: cover;
  }
  .nav-menu :hover {
    cursor: pointer;
  }
  /* <...mainpage...> */

#header{
 background-color: #d3d3d3;
  padding-bottom: 50%;
  display: flex;
  flex-direction: column;
  background-image: url("./images/cafeblur.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}
.title {
    font-family:"cocogoose", sans-serif;
    font-weight: 700;
    color: #ec5242;
    margin: 5%;
    font-size: 30px;
    line-height: 40px;
  
}
.subheading {
    font-family: "Lato",sans-serif;
    color: #ec5242;
margin-left: 5%;
margin-top: 8%;
}
.details p {
    font-family: "Lato",serif;
    margin: 5%;
    font-size: 20px;
}
.details {
    border: 2px solid white;
    margin: 5%;
    background-image: url("./images/cafeblur.png");
    background-size: cover;
}
.address h4 {
    font-family: "Lato",serif;
    margin: 5%;
    font-size: 20px;
}
#dishes {
    background-image: url("./images/repeat-bg.png");
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.dishes-heading {
    font-family: "Lato",sans-serif;
    color: white;
    font-weight: 700;
    margin: 5%;
    align-self: center;
}
.orangeline {
    width: 10%;
    color: #ec5242;
    border:solid;
    align-self: center;
    margin-top: -7%;
    margin-bottom: 10%;
}
.dish {
    display: grid;
    grid-template-columns: 30% 20% 50%;
    row-gap:  10px;
    background-color: #d3d3d38d;
    align-items: center;
}
.dish img {
    margin-left: 5%;
    width: 90%;
}
.dish h3 {
    font-family: "Lato",sans-serif;
    color: #ec5242;
}
.dish p {
    color: white;
    font-size: 15px;
    font-family: "Lato", sans-serif;
}
.contact-button {
    background-color: #ec5242;
    padding: 20px;
    size: 20px;
    color: #d3d3d3;
    font-size: 2rem;
    font-weight: 700;
    width: 50%;
    align-self: center;
}
/* <...about...> */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/cafeblur.png");
    background-size: cover;
    height: 90vh;
}
.about-title {
    font-family:"cocogoose", sans-serif;
    font-weight: 700;
    color: #ec5242;
    font-size: 30px;
    line-height: 40px;
  
}
.about-subheading {
    font-family: "Lato",sans-serif;
    color: #ec5242;
    margin-top: 8%;
    margin-bottom: 3%;
}
.about-details p {
    font-family: "Lato",serif;
    margin: 5%;
    font-size: 20px;
}
.about-details {
    border: 2px solid white;
    margin: 5%;
    background-color: #d3d3d3;
}
.email p {
    font-family: "Lato",sans-serif;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 3rem;
}
.email p b {
    align-self: center;
}